<div class="container">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-title">Bids</h4>
            <ol class="breadcrumb">
                <li><a href="#">ScrapQ</a></li>
                <li><a href="#">CRM</a></li>
                <li class="active">Bids</li>
            </ol>
        </div>
    </div>
       <div class="row">
                        	<div class="col-lg-12">
                        		<div class="card-box">
                        			<div class="row">
			                        	<div class="col-sm-8">
			                        		<form role="form">
			                                    <div class="form-group contact-search m-b-10">
			                                    	<input type="text" id="search" ng-model="searchText" class="form-control" placeholder="bids...">
			                                        <button type="submit" class="btn btn-white"><i class="fa fa-search"></i></button>
			                                    </div> <!-- form-group -->
			                                </form>
			                        	</div>
			                        </div>
			                        
                        			<div class="table-responsive">
                                        <table class="table m-n" ng-table="tableParams">
                    <tr ng-repeat="row in $data" ng-click="detailBid(row.confirmationId)" style="cursor:pointer;">
                            
                            <td data-title="'Confirmation Id'" header-class="'text-left'" ng-bind="row.confirmationId"></td>
                            <td data-title="'Date Time'"header-class="'text-left'" >{{row.requestedDate}}&nbsp;{{row.requestedTime}}</td>
                            <td data-title="'Status'" header-class="'text-left'" ng-bind="row.status"></td>
                            
                        </tr>
                        <tr ng-if="noComplaints">
                            <td></td>
                            <td></td>
                            <td>{{noComplaints}}</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                                    </div>
                        		</div>
                                
                            </div> 
</div>
</div>
